.loginBtn {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.loginBtn div {
    margin-left: 10px;
    margin-top: -2px;
}

img {
    width: 100px;
}

.nav-sec {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.menu-list2 {
    display: flex;
    justify-content:end;
    margin-top: -50px;
    margin-right: 100px;
}

.menu-list2 input {
    width: 120px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.nav-sec div {
    margin: 10px;
}

.product-card img{
    width: 180px;
    height: 300px;
}

.product-card:hover img {
    transform: scale(1.07);
}

.loginBtn {
    cursor: pointer;
}

.login-form {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.ProductCard {
    padding: 30px;
}

.product-detail-img {
    display: flex;
    justify-content: flex-end;
}

.product-detail-img img {
    width: 250px;
    height: 400px;
}

.product-all {
    margin-top: 50px;
}
.product-card-item {
    margin: 5px;
}

.product-detail {
    padding-top: 30px;
    padding-bottom: 10px;
}

#dropdown-basic {
    margin-top: 15px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.PutBtn {
    margin-top: 5px;
    margin-right: 5px;
}

.product-detail-choice {
    font-size: small;
}

.nav-sec img {
    width: 150px;
    height: 100px;
}

.logoutBtn {
    margin: 5px;
}